.header {
  background: #151515 url("../images/intro-bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: "Fjalla One", sans-serif;
  font-size: 25px !important;
}

.header .social {
  bottom: 20px;
}

.about-img {
  width: 250px;
}

.project {
  transition: 0.5s;
  width: 25rem;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.85;
}

.text-about {
  text-align: justify;
}

@media (max-width: 767px) {
  .header .social i {
    font-size: 30px;
  }

  .header .roles span {
    font-size: 17px;
  }

  .about-content {
    flex-direction: column;
    padding: 12px;
  }
}


.whatsapp-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  border: 1px solid #d1fae5;
  border-radius: 5px;
  text-align: center;
  backdrop-filter: blur(3px);
  margin-bottom: 25px;


  box-shadow:
    0 0 25px #25D366;
}

@media (max-width: 576px) {
  .whatsapp-card {
    position: relative;
    bottom: auto;
    left: auto;
    margin: 20px auto;
    box-shadow: 0 0 15px #25D366;
  }
}


.whatsapp-card h3 {
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 10px;
  font-size: larger;
}

.whatsapp-card button {
  background-color: transparent;
  color: white;
  border: none;
  border: solid 1px;
  border-color: #d1fae5;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 6px 10px;
}

.whatsapp-card button:hover {
  background-color: #1ebe5d;
}

.whatsapp-card i {
  color: #1ebe5d;
  font-size: 54px;
}